<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="gui" default="true" />
  <arg name="use_ground_truth" default="true" />
  <arg name="manual" default="false" />
  <arg name="task_kind" default="2" />
  <arg name="rqt_gui" default="True" />
  <arg name="circle_motion_times" default="1" />
  <arg name="do_avoidance" default="True" />
  <arg name="turn_before_return" default="True" />
  <arg name="collision" default="false" />
  <arg name="do_mapping" default="true" />
  <arg name="target_num" default="1" />
  <arg name="real_forest" default="false"/>

  <arg name="start_x" value="-8"/>
  <arg name="start_y" value="0" unless="$(arg collision)"/>
  <arg name="start_y" value="-1" if="$(arg collision)"/>
  <arg name="start_z" value="0.5"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find jsk_uav_forest_simulation)/gazebo_model/world/forest.world" unless="$(arg collision)" />
    <arg name="world_name" value="$(find jsk_uav_forest_simulation)/gazebo_model/world/forest_collision.world" if="$(arg collision)" />
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" default="$(arg headless)"/>
  </include>

  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="name" value="quadrotor"/>
    <arg name="model" value="$(find jsk_uav_forest_simulation)/urdf/quadrotor_cam_hokuyo.gazebo.xacro" />
    <arg name="use_ground_truth_for_tf" value="$(arg use_ground_truth)" />
    <arg name="use_ground_truth_for_control" value="$(arg use_ground_truth)" />
    <arg name="x" value="$(arg start_x)"/>
    <arg name="y" value="$(arg start_y)"/>
    <arg name="z" value="$(arg start_z)"/>
  </include>

  <!-- perception + motion -->
  <include file="$(find jsk_uav_forest_motion)/launch/motion.launch">
    <arg name="use_dji" value="False" />
    <arg name="uav_odom_topic_name" value="/ground_truth/state" />
    <arg name="task_kind" value="$(arg task_kind)" />
    <arg name="circle_motion_times" value="$(arg circle_motion_times)" />
    <arg name="do_avoidance" value="$(arg do_avoidance)" />
    <arg name="turn_before_return" value="$(arg turn_before_return)" />
    <arg name="target_num" value="$(arg target_num)" />
    <arg name="real_forest" value="$(arg real_forest)" />
  </include>

  <!-- 2D Mapping -->
  <node pkg="jsk_uav_forest_perception" type="mapping.py" output="screen" name="mapping_node" if="$(arg do_mapping)">
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find jsk_uav_forest_simulation)/launch/simulation.rviz" unless="$(arg headless)" respawn="true"/>
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" output="screen" if="$(arg rqt_gui)" args="--perspective-file $(find jsk_uav_forest_common)/launch/jsk_uav_forest.perspective"/>
  <node pkg="jsk_uav_forest_simulation" type="uav_teleop_keyboard" name="uav_teleop_keyboard" launch-prefix="xterm -e" if = "$(arg manual)" />

</launch>
