<?xml version="1.0"?>
<launch>
  
  <arg name="GROUND_STATION_IP" default="localhost" />
  <arg name="UAV_IP" default="localhost" />
  <arg name="PORT" default="16484" />

  <!-- Image Processing -->
  <arg name="slow_rate" default="3" />
  <!-- Throttle: 3Hz  -->
  <group ns="camera">
    <node pkg="nodelet" type="nodelet" name="image_throttle"
          args="load jsk_uav_forest_common/image_throttle camera_nodelet_manager" output="screen">
      <remap from="/camera/topic_in"  to="/camera/image_rect"/>
      <remap from="/camera/topic_out" to="/camera/image_rect/throttle" />
      <param name="update_rate" value="$(arg slow_rate)" />
    </node>

    <!-- compressed: jpeg -->
    <param name="/remote/image/compressed/jpeg_quality" value="10" />
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="raw in:=/camera/image_rect/throttle compressed out:=/remote/image">
    </node>
  </group>

  <!--node pkg="topic_tools" type="throttle" name="scan_throttle" args="messages /scan 0.5" >
    <remap from="/scan_throttle" to="/scan/throttle" />
  </node-->

  <node pkg="topic_tools" type="throttle" name="overlay_text_throttle" args="messages /overlay_text 1.0" >
    <remap from="/overlay_text_throttle" to="/overlay_text/throttle" />
  </node>

  <node pkg="topic_tools" type="throttle" name="visualization_marker_throttle" args="messages /visualization_marker 0.5" >
    <remap from="/visualization_marker_throttle" to="/visualization_marker/throttle" />
  </node>

  <node pkg="topic_tools" type="throttle" name="modified_odom_throttle" args="messages /modified_odom 0.5" >
    <remap from="/modified_odom_throttle" to="/modified_odom/throttle" />
  </node>

  <!-- UAV to Ground Station -->
  <node pkg="jsk_network_tools" type="silverhammer_highspeed_streamer.py"
        name="highspeed_streamer">
    <param name="message" value="jsk_uav_forest_common/FC2OCSImage" />
    <param name="to_ip" value="$(arg GROUND_STATION_IP)" />
    <param name="to_port" value="$(arg PORT)" />
    <param name="send_rate" value="5" />
    <param name="bandwidth" value="2000000" />
    <param name="packet_size" value="1000" />
  </node>

</launch>
