<?xml version="1.0"?>
<launch>
  <arg name="use_dji" default="False" />
  <arg name="uav_odom_topic_name" default="/modified_odom" />
  <arg name="task_kind" default="1" />
  <arg name="circle_motion_times" default="1" />
  <arg name="target_num" default="1" />
  <arg name="turn_before_return" default="True" />
  <arg name="do_avoidance" default="False" />
  <arg name="visualization" default="True" />
  <arg name="real_forest" default="False"/>

  ##### Perception Node #####
  <include file="$(find jsk_uav_forest_perception)/launch/tree_detector.launch">
    <arg name="simulation" value="True" unless="$(arg use_dji)" />
    <arg name="uav_odom_topic_name" value="$(arg uav_odom_topic_name)" />
    <arg name="real_forest" value="$(arg real_forest)"/>
  </include>

  ##### Motion Node #####
  <node pkg="jsk_uav_forest_motion" type="motion.py" name="motion" output="screen" args="$(arg use_dji)">
    <param name="task_kind" value="$(arg task_kind)" />
    <param name="do_avoidance" value="$(arg do_avoidance)" />
    <param name="target_num" value="$(arg target_num)" />
    <param name="circle_motion_times" value="$(arg circle_motion_times)" />
    <param name="turn_before_return" value="$(arg turn_before_return)" />
    <param name="uav_odom_sub_topic_name" value="$(arg uav_odom_topic_name)"/>
    <param name="visualization" value="$(arg visualization)" />
    <rosparam file="$(find jsk_uav_forest_motion)/config/motion/motion.yaml" command="load"/>
  </node>
</launch>
