<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- UAV -->
    <xacro:include filename="$(find hector_quadrotor_description)/urdf/quadrotor_base.urdf.xacro" />
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0.785" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadrotor_base.dae" scale="1.5 1.5 1"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0.785" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadrotor_base.stl" scale="1.5 1.5 1"/>
        </geometry>
      </collision>
    </link>

    <!-- Hokuyo UST-30LX mounted upside down below the quadrotor body -->
    <xacro:include filename="$(find jsk_uav_forest_simulation)/urdf/hokuyo_ust20lx.urdf.xacro" />
    <xacro:hokuyo_utm30lx name="laser0" parent="base_link" ros_topic="scan" update_rate="40" ray_count="1081" min_angle="-135" max_angle="135">
      <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
    </xacro:hokuyo_utm30lx>

    <!-- Forward facing camera -->
    <xacro:include filename="$(find hector_sensors_description)/urdf/generic_camera.urdf.xacro" />
    <xacro:generic_camera name="front_cam" parent="base_link" ros_topic="camera/image" cam_info_topic="camera/camera_info" update_rate="10" res_x="1280" res_y="1024" image_format="R8G8B8" hfov="100">
      <origin xyz="0.2 0.0 0.0" rpy="0 0 0"/>
    </xacro:generic_camera>

    <xacro:include filename="$(find hector_quadrotor_gazebo)/urdf/quadrotor_plugins.gazebo.xacro" />
</robot>

