<?xml version="1.0"?>
<launch>
  <arg name="task_kind" default="2" />
  <arg name="circle_motion_times" default="1" />
  <arg name="rqt_gui" default="False" />
  <arg name="use_mapping" default="False" />
  <arg name="turn_before_return" default="True" />

  <!-- bringup -->
  <include file="$(find jsk_uav_forest_common)/launch/m100_bringup.launch" >
  </include>

  <!-- Odometry -->
  <node pkg="jsk_uav_forest_common" type="odom_generator.py" name="odom_gen" output="screen" >
    <param name="use_lidar" value="True" />
    <param name="use_guidance_vel" value="True" />
    <param name="lidar_tc" value="0.5" />
    <param name="lidar_noise_cut_thresh" value="0.5" />
    <param name="guidance_vel_weight" value="0.9" />
  </node>

  <!-- TF -->
  <node pkg="jsk_uav_forest_common" type="tf_broadcaster.py" name="tf_broadcaster" output="screen" >
    <param name="uav_odom_topic_name" value="/modified_odom" />
  </node>

  <!-- perception + motion -->
  <include file="$(find jsk_uav_forest_motion)/launch/motion.launch">
    <arg name="use_dji" value="True" />
    <arg name="uav_odom_topic_name" value="/modified_odom" />
    <arg name="task_kind" value="$(arg task_kind)" />
    <arg name="circle_motion_times" value="$(arg circle_motion_times)" />
    <arg name="rqt_gui" value="$(arg rqt_gui)" />
    <arg name="turn_before_return" value="True" />
  </include>

  <!-- 2D SLAM -->
  <include file="$(find jsk_uav_forest_common)/launch/2d_mapping.launch" if="$(arg use_mapping)" />

</launch>
