<?xml version="1.0"?>
<launch>
  <arg name="use_dji" default="True" />
  <arg name="headless" default="False" />
  <arg name="no_odom" default="False" />
  <arg name="use_mapping" default="True" />

  ############## Viewer ###############
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find jsk_uav_forest_common)/launch/log_viewer.rviz" unless="$(arg headless)" respawn="true"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find jsk_uav_forest_simulation)/urdf/quadrotor_cam_hokuyo.gazebo.xacro' base_link_frame:=base_link world_frame:=world" />

  ############## Odometry ###############
  <node pkg="jsk_uav_forest_common" type="odom_generator.py" name="odom_gen" output="screen" if="$(arg no_odom)">
    <param name="use_lidar" value="True" />
    <param name="use_guidance_vel" value="True" />
    <param name="lidar_tc" value="0.5" />
    <param name="lidar_noise_cut_thresh" value="0.5" />
    <param name="guidance_vel_weight" value="0.9" />
  </node>

  <node pkg="jsk_uav_forest_common" type="tf_broadcaster.py" name="tf_broadcaster" output="screen" >
    <param name="uav_odom_topic_name" value="/modified_odom" if="$(arg use_dji)" />
    <param name="uav_odom_topic_name" value="/ground_truth/state" unless="$(arg use_dji)" />
  </node>

  ######### Perception Node #########
    <!-- vision base -->
  <include file="$(find jsk_uav_forest_perception)/launch/image_process.launch">
    <arg name="image_name" value="/camera/image_rect"/>
  </include>

  <!-- 2D laser base -->
  <include file="$(find jsk_uav_forest_perception)/launch/laser_process.launch">
  </include>

  <!-- tree detector -->
  <node pkg="jsk_uav_forest_perception" type="tree_tracking_node" output="screen" name="tree_tracking_node">
    <param name="laser_scan_topic_name" value="/scan_clustered" />
    <param name="uav_odom_topic_name" value="/modified_odom"/>
    <param name="only_target" value="false" />
    <param name="tree_radius_max" value="0.4" /> <!-- max raidus for tree circle fitting-->
    <param name="search_radius" value="10.0" />
    <param name="display_num" value="5" />
    <param name="verbose" value="false" />
    <param name="uav_tilt_thre" value="0.07" />
    <param name="visualization" value="true" />

  </node>


  ######### Obstacle ################
  <node pkg="jsk_uav_forest_motion" type="motion_plannar_client.py" name="motion_plannar" output="screen" args="false">
    <param name="task_kind" value="2" />
    <param name="uav_odom_sub_topic_name" value="/modified_odom"/>
    <rosparam file="$(find jsk_uav_forest_motion)/config/circle_motion/circle_motion.yaml" command="load"/>
  </node>

  ######## 2D SLAM ##################
  <include file="$(find jsk_uav_forest_common)/launch/2d_mapping.launch" if="$(arg use_mapping)" >
  </include >

</launch>
